### This file configures various client-side behaviors.
###
### The commented-out examples are intended to demonstrate
### how to use this file.
###
### For more detailed information about this file, see the LINT documentation.

######################################################################################
### Section for FITS File Directory Information
[fitsDir]

### Set path to directory that contains the FITS files that you would like to process.
fitsPath = /home/shouraku/Desktop/test/

######################################################################################
### Section for FITS File Image Dimensions
[dimensions]

### LINT will check all of your flat field images to make sure that they all have the
### same dimensions. Comparing images of various sizes can lead to misidentification
### of debris, or software errors.
###
### Enter the accepted dimensions of your images. If you aren't sure, this information 
### usually can be found in the fits file header, which can be read by programs such as
### "fv" or "ds9"
#rows = 1602
#columns = 1788
rows = 2046
columns = 2216

######################################################################################
### Section for FITS File Image Extension
[extension]

### If you want to use a specific image inside of the fits files by extension number, 
### select it here.
###
### ext = 0 is the primary header,  ext = 1 is the first extension, etc. 
### Default is primary image (ext = 1)
###
ext = 1

######################################################################################
### Section for Output FITS File Name
[output]

### Set the name for the processed FITS file.
# outputFITS = output
###
outputFITS = output

######################################################################################
### Section for Overscan
[overscan]

### Would you like LINT to perform an overscan subtraction to remove bias from your 
### image?
### 1 = True, 0 = False
###
overscanSubtractBOOL = 1

### If you have overscan subtraction (overscanSubtractBOOL = 1) , specify where
### your overscan regions are. 
### For example images, check the LINT documentation. The documentation also has a
### list of custom overscan maps that were used on a variety of well know telescope
### sensors.
overscanRows = "0"
overscanColumns = "0-22,831-957,2196-2216"
######################################################################################
### Section for SExtractor Cuts
[SExCuts]

### These variables will let you specify what cutoff limits you want LINT to use
### when analyzing the Source Extractor output data. The default values should 
### give a pretty accurate analysis. The LINT Documentation explains each of the
### cut variables in greater detail.

### Upper limit for flags. 
### Default: 1 (flag < 1)
###
flagLimit = 1

### Lower limit for flux.
### Default: 0 (flux > 0)
###
fluxLimit = 0

### Lower limit for signal to noise ratio.
### Default: 2.5 (SNR > 2.5) 
###
SNRlimit = 5

### Lower limit for FWHM.
### Default: 0.5 (FWHM > 0.5)
###
FWHMlimit = 0.5

######################################################################################
### Section for SExtractor Parameter File Name
[SExParam]

### This variable will let you specify what Source Extractor parameter file
### that you would like to use. If you have never used Source Extractor,
### or are not familiar with its options, a default SExtractor file is 
### provided that should give the best debris detecting options for the 
### majority of cases.
# SExParameterFile = SEx_configurationFile.txt
###
SExParameterFile = SEx_configurationFile.txt
