### This file configures various client-side behaviors.
###
### The commented-out examples are intended to demonstrate
### how to use this file.
###
### For more detailed information about this file, see the LINT documentation

######################################################################################
### Section for FITS File Directory Information
[fitsDir]

### Set path to directory that contains the FITS files that you would like to process.
# fitsPath = /home/USER/Desktop/DECfits/2015/
fitsPath = /home/shouraku/Desktop/test/

######################################################################################
### Section for FITS File Image Extension
[extension]

### If you want to use a specific image inside of the fits files by extension number, 
### select it here.
###
### ext = 0 is the primary header image,  ext = 1 is the first extension, etc. 
### Default is primary image (ext = 0)
###
ext = 0

######################################################################################
### Section for Output FITS File Name
[output]

### Set the name for the processed FITS file.
# outputFITS = output
###
outputFITS = output

######################################################################################
### Section for Overscan
[overscan]

### Would you like us to perform an overscan subtraction to remove bias from your 
### image?
### 1 = True, 0 = False
###
overscanSubtractBOOL = 1

### Where is the overscan region that you would like us to use for the subtraction? 
### Note: the default is on the right side of the image.
###
### You would want to select 1-4 this if your overscan is only along the sides
### of the image. If you are seeing overscan (black columns or rows that were
### not exposted to light during the exposure) that are somewhere besides the
### edges, then select custom (overscanSubtractLocation = 5).
###
### Clockwise: 1 = top, 2 = right, 3 = bottom, 4 = left
### Custom overscan region: 5 = custom
###
### You would most likely want to use custom (overscanSubtractLocation = 5) if your 
### sensor is segmented.
###
overscanSubtractLocation = 5

### If you have overscan subtraction (overscanSubtractBOOL = 1) , specify where
### your overscan regions are.
### You would want to use this section if your overscan is ONLY along the sides
### of the image. If you selected a custom overscan region (overscanSubtractLocation = 5),
### the next set of variables will let you map out your custom region. If you 
### selected to have a custom region, or dont have overscan in one of the 
### listed regions, just set the value to zero.
overscanTopRows = 0
overscanBottomRows = 0
overscanLeftColumns = 0
overscanRightColumns = 0

### If you selected a custom overscan region (overscanSubtractLocation = 5), you can
### specify where those regions are here. Most likely, your sensor has multiple
### segments, and each segment has its own overscan region.
### The general form of the overscan map is shown in the example below, but it is
### worth mentionaing that you can set up as many segments as you need by using 
### multiple segment brackets, each separated by a comma: [[],[],[]] (three segments).
### Each segment should list, in this order:
###     Rows in the Segment (range),
###     Columns in the Segment (range),
###     Overscan Rows (range),
###     Overscan Columns (range)
### Example: your 100x100 pixel image has four segments. Each segment has overscan 
### regions on their top and right sides. There are 10 rows of "top" overscan and
### 10 columns of "right" overscan for each of the four segments. In this case
### you would set up four segments: overscanCustomMap = [[],[],[],[]]
### And in each bracket, indicate the row and column ranges of the whole segment
### (with overscan), and the row and column ranges of the overscan within that
### segment. Therefore, for all four segments, the example map would look like:
# overscanCustomMap = [[1:50,1:50,1:10,40:50],[1:50,51:100,1:10,90:100],[51:100,1:50,51:61,40:50],[51:100,90:100,51:61,90:100]]
###
### For example images, check the LINT documentation. The documentation also has a
### list of custom overscan maps that were used on a variety of well know telescope
### sensors.
###
overscanCustomMap = [[0,0,0,0]]


### Would you like us to remove the overscan columns, or rows, after we preform an 
### overscan bias subtraction?
### Note: the answer is probably yes. You would only want to select false 
### (overscanRemoveBOOL = 0) if you have already removed the overscan from your 
### image prior to using LINT.
### 1 = True, 0 = False
###
overscanRemoveBOOL = 1

######################################################################################
### Section for SExtractor Cuts
[SExCuts]

### Upper limit for flags. 
### Default: 1 (flag < 1)
###
flagLimit = 1

### Lower limit for flux.
### Default: 0 (flux > 0)
###
fluxLimit = 0

### Lower limit for signal to noise ratio.
### Default: 2.5 (SNR > 2.5) 
###
SNRlimit = 2.5

### Lower limit for FWHM.
### Default: 0.5 (FWHM > 0.5)
###
FWHMlimit = 0.5

######################################################################################
### Section for SExtractor Parameter File Name
[SExParam]
# SExParameterFile = SEx_configurationFile.txt
###
SExParameterFile = SEx_configurationFile.txt
